<!-- start custom footer snippets -->
<table BORDER="0"><tr><td class="tdfooter"><a href="https://sap.github.io/spartacus-docs/legal-information/#copyright">Copyright</a></td>

<td class="tdfooter"><a href="https://sap.github.io/spartacus-docs/legal-information/#privacy-statement">Privacy Statement</a></td>

<td class="tdfooter"><a href="https://sap.github.io/spartacus-docs/legal-information/#impressum-information">Legal Disclosure</a></td>

<td class="tdfooter"><a href="https://www.sap.com/about/legal/trademark.html" target="_blank">Trademark</a></td>

<td class="tdfooter"><a href="https://www.sap.com/corporate/en/legal/terms-of-use.html" target="_blank">Terms of Use</a></td></tr></table>
<!-- end custom footer snippets -->