<!-- start custom head snippets -->

<!-- insert scripts for adding anchor links to headers -->

<script src="https://kit.fontawesome.com/82d5a2bf2f.js" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
<script>
  anchors.add();
</script>

<meta http-equiv="refresh" content="0; URL=https://github.com/SAP/spartacus/blob/develop/docs/self-publishing-spartacus-libraries.md">
<link rel="canonical" href="https://github.com/SAP/spartacus/blob/develop/docs/self-publishing-spartacus-libraries.md">

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
