---
layout: archive
---

<p><strong>Note: Spartacus 3.x is no longer maintained. Please upgrade to the <a href="https://help.sap.com/docs/SAP_COMMERCE_COMPOSABLE_STOREFRONT">latest version</a>.</strong></p>

<p><strong>Note: Spartacus 3.x was tested with SAP Commerce Cloud versions 1905 to 2105. Spartacus 3.x has not been verified to work with (and is not guaranteed to work with) SAP Commerce Cloud 2211 or later releases.</strong></p>

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %} -->
